.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
}

.logo {
    color: #555;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #555;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links {
    padding-right: 10px;
}

.nav-links:hover {
    background-color: #00BFFF;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
    display: none;
}